<div class='completed-tasks card text-primary'>
  <div class="card-header" >
    Tasks
  </div>
  <div class="container new-task">
    <%= render partial: "form", locals: { task: Task.new } %>
  </div>
  <ul class="list-group" data-url="<%= sort_tasks_path %>">
    <% @tasks.each do |task| %>
      <%= render task %>
    <% end %>
  </ul>
</div>
